= form_for @disciplina do |f|
  - if @disciplina.errors.any?
    #error_explanation
      %h2= "#{pluralize(@disciplina.errors.count, "error")} prohibited this disciplina from being saved:"
      %ul
        - @disciplina.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :codigo
    = f.text_field :codigo
  .field
    = f.label :nome
    = f.text_field :nome
  .actions
    = f.submit 'Save'
