- model_class = Professor
.row
  .col-md-12
    %h1=t '.title', :default => @professor.nome.titleize
.row
  .col-md-8
    %h2 Disciplinas oferecidas
    %table
      %tr
        %th Teste
%p
  %strong= model_class.human_attribute_name(:bio_curta) + ':'
  %br
  = @professor.bio_curta
%p
  %strong= model_class.human_attribute_name(:contato) + ':'
  %br
  = @professor.contato

= link_to t('.back', :default => t("helpers.links.back")), professores_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_professor_path(@professor), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), professor_path(@professor), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
